vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Feb 2012 18:35:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|TIM-PC\\TIM
vti_modifiedby:SR|TIM-PC\\TIM
vti_timecreated:TR|20 Feb 2012 18:35:22 -0000
vti_cacheddtm:TX|20 Feb 2012 18:35:22 -0000
vti_filesize:IR|5414
vti_cachedlinkinfo:VX|S|websymbols/websymbols-regular-webfont.eot S|websymbols/websymbols-regular-webfont.eot S|websymbols/websymbols-regular-webfont.woff S|websymbols/websymbols-regular-webfont.ttf S|websymbols/websymbols-regular-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|css/boxes/css/websymbols/websymbols-regular-webfont.eot FSUS|css/boxes/css/websymbols/websymbols-regular-webfont.eot FSUS|css/boxes/css/websymbols/websymbols-regular-webfont.woff FSUS|css/boxes/css/websymbols/websymbols-regular-webfont.ttf FSUS|css/boxes/css/websymbols/websymbols-regular-webfont.svg
